﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "reset";
@import "font-face";
@import "image";
@import "mixin";
@import "variables";
@import "bootstrap-edit";
@import "slick-edit";
@import "general";
@import "TrangGioiThieu";
@import "TrangChiTiet";
@import "TrangTinTuc";

/*HEADER*/
.header-top {
    color: #fff;
    background-color: $color-orange-primary;
    position: relative;

    ul {
        margin: 0;

        li {
            padding: 0 15px;
            display: inline-block;
            position: relative;

            &:last-child {
                margin-right: -30px;
            }

            &:hover {
                background-color: $color-orange-fade;
            }

            &.active {
                background-color: $color-orange-fade;
            }

            a {
                color: #fff;
                font-size: 15px;
                line-height: 42px;
            }
        }
    }
}

.header-btn {
    line-height: 42px;
    display: block;
    color: #fff;
    font-size: 22px;
    padding: 10px 0;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 15px;
}

.submenu {
    padding-right: 20px !important;

    ul {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        @include transition(.3s);
        @include transform(translateY(15px));
        left: 10px;
        top: 55px;
        padding: 0;
        min-width: 200px;
        z-index: 99999;

        &:before {
            content: '';
            position: absolute;
            left: 15px;
            top: -20px;
            border: 10px solid #c8631e;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            width: 0;
            height: 0;
        }
    }

    li {
        display: block !important;
        background: $color-orange-primary;

        &:last-child {
            margin: 0 !important;
        }
    }

    &:hover ul {
        @include transform(translateY(0));
        visibility: visible;
        opacity: 1;
    }

    &:before {
        content: '\f107';
        font-family: FontAwesome;
        position: absolute;
        right: 5px;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

.header-main {
    .logo {
        padding: 0 52px 0 0;
        line-height: 87px;
    }

    .info {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: #333;
        }

        .lang {
            object-fit: none;

            span {
                padding: 0 20px 0 10px;
            }
        }
    }

    .hotline {
        padding-left: 18px;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            width: 1px;
            height: 45px;
            position: absolute;
            left: -1px;
            background-color: #d7d7d7;
        }

        .hotline-left {
            margin-right: 10px;
            width: 52px;
            height: 52px;
            border: 1px solid #f00;
            border-radius: 50%;
            background-color: #fff;
            color: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
                content: '';
                background-color: #f00;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                position: absolute;
            }

            i {
                z-index: 2;
                font-size: 20px;
            }
        }

        .hotline-right {
            p {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 5px;
                color: #333;
            }

            span {
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                color: #f00;
            }
        }
    }
}

/*SEARCH*/
.sslider-dots {
    bottom: 35px;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 2;
    position: absolute;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        width: 16px;
        height: 16px;
        text-indent: -9999px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 2.5px;
        cursor: pointer;

        &.slick-active {
            background-color: #fff;
        }
    }
}

.sslider {
    max-height: 740px;
    overflow: hidden;

    .info {
        top: 90px;
        left: 50%;
        color: #fff;
        @include transform(translateX(-50%));
        position: absolute;
        text-align: center;

        p {
            font-family: $font-01;
            font-size: 40px;
            line-height: 75px;
            margin-bottom: 0;
        }

        h2 {
            font-family: $font-01;
            font-size: 65px;
            line-height: 80px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        span {
            font-family: $font-01;
            font-size: 30px;
            line-height: 40px;
            display: block;
            max-width: 610px;
            margin: 0 auto 15px;
        }

        a {
            color: #fff;
            padding: 10px 22px;
            font-size: 20px;
            line-height: 85px;
            border: 1px solid;
            border-radius: 3px;
            @include transition(.3s);

            &:hover {
                background-color: rgba(0,0,0,.3);
            }
        }
    }
}

.search {
    background-color: rgba(0, 0, 0, .2);
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%));
    min-height: 200px;
    padding-bottom: 15px;
    font-weight: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .fix {
        height: max-content;
        position: relative;

        .label {
            color: #fff;
            left: 18px;
            top: -40px;
            font-size: 20px;
            margin-bottom: 0;
            position: absolute;
        }

        .input {
            padding: 13px 18px;
            border: none;
            font-size: 18px;
            line-height: 1;
            min-width: 390px;
        }

        .input-first {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
}

.submit {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #2587bf;
    border: none;
    padding: 0 18px;
    text-transform: uppercase;
    line-height: 48px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    @include transition(.3s);

    &:hover {
        background-color: #2a94d1;
    }
}
/*TOUR*/
.foundTour {
    position: relative;

    ul {
        padding: 0;
        margin: 0;
    }

    .foundTour-top {
        border-bottom: 1px solid #d7d7d7;
    }

    .foundTour-item {
        top: 2px;
        position: relative;

        &:hover {
            border-bottom: 3px solid #c8631e;
        }
    }

    .link {
        font-family: $font-02;
        font-weight: bold;
        font-size: 18px;
        line-height: 84px;
        text-transform: uppercase;
        @include transition(.3s);
        display: flex;
        align-items: center;

        img {
            width: auto;
            margin-right: 10px;
        }
    }

    .link-blue {
        color: #015196;

        &:hover {
            color: #0058a4;
        }
    }

    .link-red {
        color: #f0433a;

        &:hover {
            color: #fd574e;
        }
    }

    .link-yellow {
        color: #f2a30f;

        &:hover {
            color: #fdb123;
        }
    }

    .link-green {
        color: #008c72;

        &:hover {
            color: #029e81;
        }
    }

    .fTi-active {
        border-bottom: 3px solid #c8631e;
    }

    .foundTour-slick {
        padding: 22px 0;

        .fT-item {
            min-height: 80px !important;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            img {
                width: auto;
                margin: auto;
                margin-bottom: 3px;
            }

            a {
                color: #333;
                font-weight: bold;
                @include transition(.3s);

                &:hover {
                    color: $color-gray-primary;
                }
            }
        }
    }

    .fT-arrows {
        .slick-arrow {
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            font-size: 14px;
            width: 24px;
            height: 24px;
            border: none;
            background-color: #d2d2d2;
            color: #fff;
            cursor: pointer;
            z-index: 9;
            @include transition(.3s);

            &:hover {
                background: #dadada;
            }
        }

        .slick-prev {
            left: 0;

            i {
                left: -1px;
            }
        }

        .slick-next {
            right: 0;

            i {
                right: -2px;
            }
        }
    }
}

/*TOUR GIỜ CHÓT*/
.lastTour {
    background-color: #f6f6f6;
    padding-bottom: 60px;

    .imgcw:before {
        padding-bottom: 45.13%;
    }

    .lT-wrap {
        display: flex;
        flex-direction: column;
    }

    .lT-image {
        width: 50%;
    }

    .lT-block {
        width: 50%;
        padding: 20px 25px;
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        a {
            font-weight: bold;
            font-size: 20px;
            color: $color-orange-primary;
            margin-bottom: 15px;
            display: block;
            @include transition(.3s);

            &:hover {
                color: $color-orange-fade;
            }
        }
    }

    .lT-info {
        p {
            margin-bottom: 5px;
        }

        b {
            min-width: 110px;
            display: inline-block;
        }
    }

    .lT-price {
        font-size: 20px;
        font-weight: bold;
        color: #ed1a23;
        padding: 20px 0;
        line-height: 30px;
        margin: 0;

        .lTp-old {
            padding-left: 30px;
            color: $color-gray-fade;
            text-decoration: line-through;
            font-size: 18px;
            font-weight: normal;
        }
    }

    .lT-countdown {
        background-color: #2587bf;
        padding: 10px 12px;
        border-radius: 5px;
    }

    .lT-post {
        box-shadow: 0 1px 10px 1px #e8e8e8;
        margin-bottom: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;

        img {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    .lT-reverse {
        flex-direction: row-reverse;

        img {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        & .lT-block {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}

/*TOUR TRONG NƯỚC*/
.tour {
    padding-bottom: 60px;

    &--gray {
        background-color: #f6f6f6;
    }

    .tour-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .tour-image {
            padding: 0 15px;
            margin-bottom: 30px;
        }

        .touri-big {
            width: 50%;

            .imgcw:before {
                padding-bottom: 66.667%;
            }
        }

        .touri-small {
            width: 25%;

            .imgcw:before {
                padding-bottom: 140.744%;
            }
        }

        .tour-info {
            padding: 15px;
            bottom: 0;
            z-index: 9;

            a {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 6px;
                display: block;
                border-bottom: 1px dashed;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 0;
                line-height: 1;
            }

            .tour-price {
                font-weight: bold;
                margin-top: 10px;
            }

            .tourp-old {
                text-decoration: line-through;
                padding-left: 25px;
                font-weight: normal;
            }
        }
    }
}

/*DU LỊCH TỰ CHỌN*/
.customTour {
    background: url(pic/du-lich-tu-chon-bg.jpg) no-repeat center;
    padding-bottom: 65px;

    .cus-item {
        .imgcw:before {
            padding-bottom: 67.03%;
        }

        .imgc {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .cus-block {
        background-color: #fff;
        padding-bottom: 25px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .cus-info {
        padding: 15px 15px 10px;

        a {
            font-weight: bold;
            font-size: 18px;
            color: $color-orange-primary;
            display: block;
            margin-bottom: 3px;
        }

        p {
            font-size: 18px;
            margin-bottom: 0;
        }

        span {
            color: #f00;
            font-weight: bold;
        }
    }

    .cus-decs {
        border-top: 1px dashed #d7d7d7;
        border-bottom: 1px dashed #d7d7d7;
        padding: 10px 15px 0;
        min-height: 65px;
    }
}

/*ĐIỂM ĐẾN YÊU THÍCH*/
.destination {
    padding-bottom: 65px;
    position:relative;
}
.destination-block {
        padding: 5px 15px;
        z-index: 9;
        bottom: 0;
        position:absolute;
        text-align:center;
        color:white;
        a {
            font-weight: bold;
            font-size: 18px;
            color: #fff;
        }

        p {
            margin-bottom: 0;
        }

        i {
            padding-left: 6px;
            color: #f00;
        }
    }
.destination-item {
        margin-bottom: 25px;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        .imgcw:before {
            padding-bottom: 67.03%;
        }

        &--small {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
.destination-info {
        padding: 10px 0;
        margin-bottom: 0;
    }
.destination-title {
        min-width: 180px;
        padding: 5px 0;
        border-bottom: 1px dashed;
        text-align:center;
        display:inline-block;
        a {
            font-weight: 900;
            font-size: 20px;
            color: #fff;
        }
    }
/*VÌ SAO CHỌN PHUONGNAMTRAVEL*/
.choose {
    background-color: #f6f6f6;
    padding-bottom: 40px;

    .choose-num {
        width: 44px;
        height: 44px;
        background-color: $color-orange-primary;
        font-weight: bold;
        font-size: 30px;
    }

    .choose-title {
        font-weight: bold;
        font-size: 20px;
        color: $color-orange-primary;
        text-transform: uppercase;
        padding-left: 15px;
    }

    .choose-info {
        border-top: 1px dashed $color-orange-primary;
        padding: 12px 0;

        p {
            margin-bottom: 0;
        }
    }
}

/*Ý KIẾN KHÁCH HÀNG*/
.review {
    background: url(pic/slider-02.png) no-repeat center;
    max-height: 390px;
    min-height: 390px;
    background-position-y: 73%;
    padding: 50px 0;
    position:relative;
    color:white;

    .review-title {
        font-weight: bold;
        font-size: 30px;
    }

    .review-content {
        max-width: 940px;
        text-align: center;
        margin: auto;
        font-size: 18px;
        font-style: italic;
        padding: 35px 0;
    }

    .review-author {
        font-weight: bold;
        font-size: 20px;
    }

    .review-dots {
        bottom: 65px;
        left: 50%;
        @include transform(translateX(-50%));
        z-index: 2;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
        }

        li {
            width: 14px;
            height: 14px;
            text-indent: -9999px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 0 2.5px;
            cursor: pointer;

            &.slick-active {
                background-color: #fff;
            }
        }
    }
}

/*TIN TỨC*/
.news {
    padding: 40px 0 32px;

    &__top {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    &__heading {
        font-family: $font-02;
        font-size: 30px;
        font-weight: bold;
        color: $color-orange-primary;
        margin-bottom: 0;
        text-transform: uppercase;

        &:before {
            content: '';
            background-color: $color-orange-primary;
            height: 3px;
            width: 60px;
            position: absolute;
            bottom: -12px;
        }
    }

    &__more {
        color: $color-gray-primary;
        line-height: 1;

        i {
            font-size: 12px;
        }
    }

    &__item .imgcw:before {
        padding-bottom: 66.22%;
    }

    &__item--small {
        padding-bottom: 22px;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 18px;

        &:last-child {
            border: none;
        }
    }

    &__slick {

        &--title {
            font-size: 20px;
            color: #333;
            line-height: 24px;
            padding-top: 10px;

            &:hover {
                color: $color-gray-primary;
            }
        }

        &--decs {
            color: $color-gray-primary;
            font-size: 14px;
        }
    }

    &__info {
        color: $color-gray-fade;
        font-size: 13px;
        line-height: 32px;
        padding-right: 10px;

        &:last-child {
            padding-right: 0;
        }

        i {
            padding-right: 3px;
        }
    }

    &__dots {
        ul {
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            background: #ddd;
            margin: 0 2.5px;
            border-radius: 50%;
            cursor: pointer;

            &.slick-active {
                background: $color-orange-primary;
            }
        }
    }

    &__title {
        font-weight: normal;
        color: #333;
        font-size: 15px;
        @include transition(.3s);

        &:hover {
            font-weight: bold;
        }
    }

    &__img {
        max-width: 160px;
        min-width: 160px;
    }

    &__block {
        padding-left: 15px;
    }
}

.libary {
    .imgcw:before {
        padding-bottom: 56.22%;
    }

    &--big:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 55px;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
        z-index: 9;
    }

    &__title {
        font-weight: bold;
        color: #fff;
        padding: 10px 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;

        &:hover {
            color: #f7f7f7;
        }

        &--black {
            width: 100%;
            text-align: center;
            font-weight: bold;
            color: #333;
            display: block;
            padding: 10px 0;
        }
    }

    &__item {
        width: 115px;
    }

    &--small {
        margin-top: 25px;
        padding-top: 24px;
        border-top: 1px solid #e2e2e2;
    }

    &__icon {
        position: absolute;
        z-index: 999;
        left: 50%;
        top: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        width: 58px;
        line-height: 56px;
        text-align: center;
        border: 1px solid;
        border-radius: 50%;

        &--small {
            width: 42px;
            line-height: 40px;
            font-size: 14px;

            &:after {
                width: 32px !important;
                height: 32px !important;
            }
        }

        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            background-color: rgba(200, 99, 30, .9);
            transform: translate(-50%,-50%);
            width: 46px;
            height: 46px;
            text-align: center;
            border-radius: 50%;
            z-index: -1;
        }
    }
}

/*FOOTER*/
.footer {
    background-color: #f6f6f6;
    padding: 42px 0 12px;

    .footer-fix {
        max-width: 315px;
        width: 100%;
    }

    .footer-column {
        display: flex;
        margin-bottom: 50px;

        &--end {
            margin-left: 65px;

            .footer-title {
                font-weight: bold;
                font-size: 20px;
                color: $color-orange-primary;
                font-family: $font-02;
                line-height: 1;
                text-transform: uppercase;
            }
        }
    }



    .footer-title {
        font-weight: bold;
        font-size: 20px;
        color: $color-orange-primary;
        font-family: $font-02;
        line-height: 1;
        text-transform: uppercase;
    }

    .footer-block {
        margin-bottom: 30px;

        p {
            margin: 0;
        }
    }



    .footer-icon {
        width: max-content;
        margin: 0 6px 14px 0;
    }

    .footer-social {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        color: #fff;
        margin: 10px 6px 30px 0;
        font-size: 18px;
        opacity: 1;
        @include transition(.3s);
        cursor: pointer;

        &:hover {
            opacity: .9;
        }

        i {
            line-height: 40px;
        }
    }

    .fs-fb {
        background-color: #3b5997;
    }

    .fs-gg {
        background-color: #db5149;
    }

    .fs-tw {
        background-color: #00aced;
    }

    .fs-yt {
        background-color: #d12f2f;
    }

    .footer-form {
        margin-bottom: 30px;

        button {
            width: 17.635%;
            border: none;
            height: 44px;
            color: #fff;
            background-color: $color-orange-primary;
            cursor: pointer;
            @include transition(.3s);

            &:hover {
                background-color: $color-orange-fade;
            }
        }

        input {
            width: 82.365%;
            padding: 9px 15px;
            border: 1px solid #d7d7d7;
        }
    }

    ul {
        padding: 0;
    }

    li a {
        color: $color-gray-primary;
        font-family: $font-02;
    }
}

.footer-bottom {
    background-color: #fff;
    max-width: 970px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.welcome {
    background-color: #f6f6f6;
    padding: 23px 0 12px;
    margin-right: 30px;

    a {
        color: #333;
        position: relative;
        margin-right: 30px;

        &:before {
            content: '\f0da';
            font-family: FontAwesome;
            position: absolute;
            right: -10px;
            color: $color-orange-primary;
        }

        &:last-child:before {
            content: '';
        }
    }
}
