﻿/*#region Roboto */
@font-face {
  font-family: 'Roboto';
  src: url("fonts/roboto.ttf"), url("fonts/roboto.woff"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/robotobold.ttf"), url("fonts/robotobold.woff");
  font-weight: bold; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Black.otf") format("opentype"), url("fonts/Roboto-Black.svg") format("svg"), url("fonts/Roboto-Black.ttf") format("truetype"), url("fonts/Roboto-Black.woff") format("woff"), url("fonts/Roboto-Black.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 900; }

/*#endregion */
/*#region SVN Avo */
@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo.ttf"), url("fonts/SVN-Avo.woff"); }

@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo bold.ttf"), url("fonts/SVN-Avobold.woff");
  font-weight: bold; }

@font-face {
  font-family: 'SvnAvo';
  src: url("fonts/SVN-Avo italic.ttf"), url("fonts/SVN-Avoitalic.woff");
  font-weight: 100; }

/*#endregion */
/*#region SVN Helvetica Neue */
@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url("fonts/SVN-Helvetica Neue Regular.ttf"), url("fonts/SVN-HelveticaNeueRegular.woff"); }

@font-face {
  font-family: 'SvnHelveticaNeue';
  src: url("fonts/SVN-Helvetica Neue Bold.ttf"), url("fonts/SVN-HelveticaNeueBold.woff");
  font-weight: bold; }

/*#endregion */
/*#region Gotham */
@font-face {
  font-family: 'SvnGotham';
  src: url("fonts/SVN-Gotham Bold.ttf"), url("fonts/SVN-GothamBold.woff");
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  .header-top {
    height: 42px; }
    .header-top ul {
      position: absolute;
      z-index: 9999999999999999999999;
      padding: 0;
      top: 42px;
      min-width: 300px;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header-top ul li {
        display: block;
        background-color: #f7f3ed; }
        .header-top ul li a {
          color: #333; }
        .header-top ul li.active {
          background-color: #f7f3ed; }
          .header-top ul li.active a {
            color: #333; }
        .header-top ul li:last-child {
          margin: 0; }
  .sslider-dots {
    bottom: 25px; }
    .sslider-dots li {
      width: 12px;
      height: 12px; }
  .sslider .info {
    top: 10px;
    width: 100%; }
    .sslider .info p {
      font-size: 30px;
      line-height: 55px; }
    .sslider .info h2 {
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 15px; }
    .sslider .info span {
      max-width: 575px;
      font-size: 25px;
      line-height: 35px;
      margin: auto; }
  .search {
    min-height: 140px; }
    .search .input {
      padding: 10px 15px;
      max-width: 300px; }
    .search .label {
      font-size: 16px;
      top: -35px; }
  .foundTour .link {
    font-size: 13px;
    line-height: 64px; }
    .foundTour .link img {
      width: 18px;
      margin-right: 8px; }
  .foundTour .foundTour-item:hover {
    border-bottom: none; }
  .lastTour .lT-wrap {
    flex-direction: row;
    margin: 0 -15px; }
  .lastTour .lT-post {
    flex-direction: column;
    width: 50%;
    margin: 0 15px 30px; }
    .lastTour .lT-post img {
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px; }
  .lastTour .lT-reverse img {
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px; }
  .lastTour .lT-reverse .lT-block {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0; }
  .lastTour .lT-image {
    width: 100%; }
    .lastTour .lT-image .imgcw:before {
      padding-bottom: 77.1%; }
  .lastTour .lT-block {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px; }
    .lastTour .lT-block a {
      max-height: 30px;
      overflow: hidden; }
  .tour .tour-block {
    margin: auto;
    max-width: 600px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    .tour .tour-block .touri-big .imgcw:before {
      padding-bottom: 140.74%; }
    .tour .tour-block .touri-small {
      width: 50%; }
      .tour .tour-block .touri-small .imgcw:before {
        padding-bottom: 140.74%; }
  .choose__wrap {
    max-width: 615px;
    margin: auto; }
  .libary__item {
    width: 106px; }
  .footer__bottom {
    max-width: 100%;
    padding: 20px 15px; }
  .footer__column--end {
    margin-left: 160px; }
  .destination__item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .destination__item:last-child {
      display: none; }
  .cus-decs {
    line-height: 24px;
    max-height: 24px;
    overflow: hidden; }
  .review-content {
    padding: 30px 15px;
    width: 100%; }
  .gioithieu {
    margin-bottom: 20px; }
  .service {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 35px 10px; }
    .service p {
      margin-bottom: 0;
      font-size: 14px; }
  .Tournb {
    margin-bottom: 30px; }
  .onpost-top {
    padding: 20px 0; }
    .onpost-top .onpost-h2 {
      margin-top: 20px; }
  .onpost-content--img {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .tin-new__entry {
    flex-direction: column; }
    .tin-new__entry > span {
      margin-bottom: 15px; }
  .tin-new__slider .block .content .left {
    font-size: 12px; }
  .tin-new__slider .block .content .right {
    font-size: 12px; } }

@media screen and (max-width: 667px) {
  .header-top {
    height: 0; }
  .header-btn {
    color: #333;
    top: 15px;
    font-size: 25px; }
  .header-main .logo {
    padding: 0 15px;
    line-height: 75px; }
  .header-main .info {
    padding: 20px;
    border-top: 1px dashed #d0d0d0; }
  .search {
    min-height: 140px; }
    .search .input {
      padding: 10px 15px;
      max-width: 300px; }
    .search .label {
      font-size: 16px;
      top: -35px; }
  .foundTour .foundTour-top {
    background-color: #f6f6f6;
    border: none;
    padding: 10px 0; }
  .foundTour .foundTour-item {
    width: 46%; }
  .foundTour .fTi-active {
    border: none; }
  .foundTour .link {
    font-size: 10px;
    line-height: 25px; }
  .foundTour .fT-item {
    min-height: 104px !important; }
    .foundTour .fT-item span {
      display: block;
      text-align: center; }
  .lastTour .lT-wrap {
    flex-direction: column;
    width: 100%; }
  .lastTour .lT-post {
    width: 100%; }
  .tour {
    position: relative; }
  .touri-big {
    width: 100%; }
    .touri-big .imgcw:before {
      padding-bottom: 137.77%; }
  .touri-small {
    width: 100%; }
    .touri-small .imgcw:before {
      padding-bottom: 137.77%; }
  .customTour {
    background-size: cover; }
    .customTour .cus-item {
      margin-bottom: 20px; }
  .destination-item {
    max-width: 100%;
    flex: 0 0 100%; }
  .gheader a {
    font-size: 25px; }
  .choose-wrap {
    max-width: 260px; }
  .review {
    min-height: 470px;
    padding: 50px 0; }
    .review .review-dots {
      bottom: 33px; }
    .review .review-content {
      padding: 20px 15px; }
  .footer .footer-fix {
    margin-bottom: 30px;
    max-width: 100%; }
  .footer .footer-column {
    margin-bottom: 0;
    flex-direction: column; }
    .footer .footer-column--end {
      margin-left: 0; }
  .gioithieu > ul {
    padding: 0; }
  .service {
    flex: 0 0 100%;
    max-width: 100%; }
  .gback {
    flex-direction: column; }
  .gback-left {
    margin-bottom: 10px; }
  .gback-right img {
    width: auto; }
  .onpost-booking .ops-right {
    line-height: 40px;
    padding: 0 30px; }
  .onpost-booking .ops-left {
    min-width: auto; }
  .onpost-tab {
    font-size: 13px;
    line-height: 30px;
    padding: 0 8px; }
    .onpost-tab i {
      padding-right: 0; }
  .onpost-content {
    padding: 15px; }
    .onpost-content--img {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
