﻿.onpost-top {
    padding: 40px 0;

    .opT-detail {
        color: #555;
        line-height: 30px;
        max-height: 120px;
        overflow: hidden;
    }

    .onpost-slide {
        .imgcw:before {
            padding-bottom: 66.6666%;
        }
    }

    .ops-small {
        overflow: hidden;
        position: relative;
        margin-top: 10px;

        .slick-list {
            margin: 0 -6px;
        }

        .slick-slide {
            margin: 0 6px;
        }

        .slick-arrow {
            position: absolute;
            z-index: 999;
            border: none;
            background-color: rgba(0,0,0,.7);
            color: #fff;
            width: 24px;
            line-height: 22px;
            font-size: 10px;
            top: 50%;
            @include transform(translateY(-50%));
            cursor: pointer;
        }

        .slick-next {
            right: 0;
        }
    }

    .onpost-h2 {
        color: $color-orange-primary;
        font-size: 23px;
        font-weight: bold;
        line-height: 35px;
    }

    .onpost-info {
        & > div {
            margin: 8px 0;
        }

        span {
            color: $color-orange-primary;
        }

        i {
            padding-right: 8px;
        }
    }

    .onpost-booking {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;

        .opb-left {
            min-width: 256px;

            span {
                color: #f00;
                font-size: 18px;
                font-weight: bold;
            }

            p {
                margin-bottom: 10px;
            }

            hr {
                margin: 10px 0;
                border-color: #e1e1e1;
            }
        }

        .opb-right {
            text-transform: uppercase;
            color: #fff;
            background-color: $color-orange-primary;
            line-height: 52px;
            padding: 0 66px;
            border: 1px solid $color-orange-primary;
            @include transition(.3s);

            &:hover {
                background-color: #fff;
                color: $color-orange-primary;
            }
        }
    }
}

.onpost-content {
    padding: 30px;
    border: 1px solid #e1e1e1;
    margin-bottom: 40px;

    p {
        line-height: 30px;
        margin-bottom: 0;
    }

    .orange {
        color: $color-orange-primary;
    }

    &--wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &--img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
        min-height: 1px;
        padding: 0 5px 10px;

        .imgcw:before {
            padding-bottom: 66.66666%;
        }
    }

    .content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.onpost-ul--flag {
    padding-left: 60px;
    padding-left: 50px;
    margin-left: 10px;
    border-left: 1px dashed #b6b6b6;

    h4 {
        font-size: 18px;
        font-weight: bold;
        color: $color-orange-primary;
        line-height: 40px;
        margin-top: 30px;
    }

    b {
        color: $color-orange-primary;
    }

    li {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            z-index: 9;
            background: url(images/flag.png) no-repeat;
            left: -61px;
            top: 0;
            width: 34px;
            height: 43px;
        }
    }
}

.onpost-more {
    padding: 20px 0 80px;

    .slick-list {
        margin: 0 -15px;
    }

    .slick-slide {
        margin: 0 15px;
    }

    .slick-arrow {
        position: absolute;
        z-index: 999;
        top: -24px;
        right: 0;
        border: 1px solid #dbdbdb;
        background: none;
        color: #666;
        font-size: 14px;
        line-height: 30px;
        width: 38px;
        cursor: pointer;
        @include transition(.3s);

        &:hover {
            background-color: #dbdbdb;
            color: #fff;
        }
    }

    .slick-prev {
        right: 48px;
    }
}

.onpost-tab {
    border: none;
    background-color: #fff;
    color: #333;
    line-height: 44px;
    padding: 0 24px;
    @include transition(.3s);
    cursor: pointer;

    &.active {
        background-color: $color-orange-primary;
        color: #fff;
    }

    &:hover {
        background-color: $color-orange-primary;
        color: #fff;
    }

    i {
        padding-right: 10px;
    }
}
