﻿// khai báo màu sắc
$color-orange-primary: #c8631e;
$color-orange-fade: #d3824b;
$color-gray-primary: #666;
$color-gray-fade: #999;

// khai báo font chữ
$font-01: 'SvnAvo';
$font-02: 'SvnHelveticaNeue';
$font-03: 'SvnGotham';